@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */
.custom-container{
  margin: 2rem;
  margin-top: 3rem;
}
.welcome-heading{
  text-align: center;
  font-size: 2rem;
  color: rgb(194, 27, 27);
  padding: 0.5rem;
}
.welcome-content{
  padding: 1.5rem;
  text-align: justify;
  margin: 2rem;
}
h1{
  font-size: 1.5rem;
  color: #04364A;
}
h3{
  font-size: 1.3rem;
  padding-top: 0.5rem;
  color: #2b466b;
}
.project-css{
  margin: 1.5rem;
  border: 1px solid #bbb;
  border-radius: 0.8rem;
  padding: 1rem;
}
.navbar{
  color: white;
  font-size: 0.8rem;
}
.ele-navbar{
  margin: 0.3rem;
  font-weight: 550;
}
.second-navbar{
  color: #1f4172;
  background-color: #bae6fd;
  margin-top: 1rem;
  padding-bottom: 0.3rem;
  padding-top: 1rem;
  padding-left: 1rem;
/* #4F709C */
}
.issueShowPage{
  border: 1px solid #bbb;
  border-radius: 2rem;
  padding: 1rem;
  margin: 0.8rem;
}
.wikiPage{
  border: 1px solid #bbb;
  border-radius: 1rem;
  padding: 0.8rem;
  margin: 1.5rem;
  text-align: justify;
}
.news-css{
  margin: 1.5rem;
  border: 1px solid #bbb;
  border-radius: 0.8rem;
  padding: 1rem;
}
.news-css>h3 {
  color: #169;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 600;
}
.newsAddedBy{
  font-size: 0.8rem;
}
.newsContent{
  padding-top: 1rem;
}
.aboutpage{
  text-align: justify;
}
.custom-footer{
  color: #535353;
}
.input-field {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.input-field:focus {
  outline: none;
  border-color: #02a569;
  box-shadow: 0 0 0 3px rgba(52, 211, 153, 0.2);
}

.button-field {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  color: #ffffff;
  background-color: #02a569;
  transition: background-color 0.2s ease-in-out;
  outline: none;
  cursor: pointer;
}

.button-field:hover,
.button-field:focus {
  background-color: #02a569;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-field:active {
  background-color: #02a569;
}
.flash-error{
  color: red;
  background-color: rgb(252, 233, 233);
  padding: 0.5rem;
  margin: 1rem;
  width: fit-content;
}
h2{
  font-size: 2rem;
}
.new-button {
  background-color: #e3faf2;
  color: #069c65;
  padding: 0.2rem 0.4rem;
  margin: 1rem;
  display: inline-block;
  border: 1px solid #02a569;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out,
  color 0.2s ease-in-out,
  border-color 0.2s ease-in-out;
}
.new-button:hover {
  background-color: #0b9c67;
  color: #fcfdfd;
  border-color: #02a569;
}
.temp-btn{
  background-color: rgb(4, 142, 255);
  color: white;
  padding: 0.2rem 0.4rem;
  margin: 1rem;
  display: inline-block;
  border: 1px solid #02a569;
  border-radius: 0.375rem;
  cursor: pointer;
}
.nav-li{
  margin-right: 3rem;
  margin-bottom: 0;
  margin-top: 0.5rem;;
}
.comments{
  font-size: 0.8rem;
  padding-left: 3rem;
}
