@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */
.custom-container{
  margin: 2rem;
}
.welcome-heading{
  text-align: center;
  font-size: 2rem;
  color: rgb(194, 27, 27);
  padding: 0.5rem;
}
.welcome-content{
  padding: 1.5rem;
  text-align: justify;
}
h1{
  font-size: 1.5rem;
  color: #04364A;
}
h3{
  font-size: 1.3rem;
  padding-top: 0.5rem;
  color: #2b466b;
}
.project-css{
  margin: 1.5rem;
  border: 1px solid #bbb;
  border-radius: 0.8rem;
  padding: 1rem;
}
.navbar{
  color: white;
  font-size: 0.8rem;
}
.ele-navbar{
  margin: 0.3rem;
}
.second-navbar{
  color: #1f4172;
  background-color: #DAC0A3;
/* #4F709C */
}
.issueShowPage{
  border: 1px solid #bbb;
  border-radius: 2rem;
  padding: 1rem;
  margin: 0.8rem;
}
.wikiPage{
  border: 1px solid #bbb;
  border-radius: 1rem;
  padding: 0.8rem;
  margin: 1.5rem;
  text-align: justify;
}
.news-css{
  margin: 1.5rem;
  border: 1px solid #bbb;
  border-radius: 0.8rem;
  padding: 1rem;
}
.news-css>h3 {
  color: #169;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 600;
}
.newsAddedBy{
  font-size: 0.8rem;
}
.newsContent{
  padding-top: 1rem;
}
.aboutpage{
  text-align: justify;
}
.custom-footer{
  color: #535353;
}